<div class="container">
     
      <div class="panel panel-default">
             <div class="alert alert-success">
                    <span class="lead">
                           Welcome to the homepage of registration system
                    </span>
      </div>

      <div class="panel-body">
              <div class="alert alert-info">
                      <ul>
                              <li>
                                      Please click on <strong> Register </strong> to sign up.
                              </li>
                              <li> 
                                      Click on List all to get users
                              </li>
                       </ul>
               </div>
       </div>
</div>
                              
                    